*{background-color: rgb(168, 189, 189);
}


h1 {
    color: rgb(62, 62, 156);
    text-align: center;
    block-size: auto;
    display: flex
    t
}


    
img {
    width:10%;
    height: 20%;

} 
p{
   text-align: center;
    color: rgb(26, 13, 13);
      
         
   
}
  
.image{
    display: block;
      margin-left:auto;
      margin-right:auto;
      width: 150%;
      height: 120%;
    

}
.conainer1{

 display: block;
      margin-left:auto;
      margin-right:auto;
      width: 150%;
      height: 120%;
    
}
